/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #007bff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove a margem do último item para evitar espaçamento extra */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens verticalmente */
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px; /* Adiciona espaçamento entre os itens */
    }
}

main {
    padding: 20px 0;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}

/* Estilos para a imagem do logo */
#logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: auto;

@media (max-width: 768px) {
    /* Estilos adicionais para telas menores, como celulares */
    header h1 {
        font-size: 28px;
        }
    }
}

/* Estilos para a seção de produtos */
#produtos {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#produtos h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

#produtos div {
    margin-bottom: 30px;
}

#produtos div img {
    display: block;
    margin: 0 auto;
    width: 200px; /* Defina o tamanho desejado */
    border: 2px solid #ccc; /* Cor do contorno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#produtos div h3 {
    text-align: center;
    margin-bottom: 10px;
}

#produtos div ul {
    list-style-type: none;
    padding: 0;
}

#produtos div ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}


img {
    max-width: 100%; /* Define a largura máxima como 100% do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
}
